/* Estilo para o contêiner de produtos */
.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Espaço entre os produtos */
    justify-content: center;
  }
  
  /* Estilo para cada produto */
  .product {
    flex: 1 1 calc(33.333% - 16px); /* Cada produto ocupa 1/3 da largura menos o espaço entre os produtos */
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid #ddd;
    margin: 8px;
    text-align: center;
  }
  
  @media (max-width: 900px) {
    .product {
        flex: 1 1 calc(50% - 16px); /* Cada produto ocupa 1/2 da largura em telas menores */
    }
  }
  
  @media (max-width: 600px) {
    .product {
        flex: 1 1 100%; /* Cada produto ocupa a largura inteira em telas ainda menores */
    }
  }
  